.lang3-main {
  margin-top: 10px;
  li {
    margin-bottom: 20px;
  }
  p{
    font-size:14px;
    font-weight:400;
    color:rgba(0,0,0,0.85);
    &:nth-child(1){
      line-height:20px;
    }
    &:nth-child(2) {
      width:400px;
      height:32px;
      line-height: 32px;
      border-bottom: 1px solid #ccc;
      margin-left: 20px;
      margin-top: 4px;
    }
  }
  
}